.sidebar__navigation__ul {
    list-style-type: none;
    margin: 0;
    padding: 10px 25px;
}

.sidebar__navigation__ul__li {
    display: block;
    font-size: 1.2em;
    padding: 10px 0;
}

.sidebar__navigation__ul__li a {
    display: inline-block;
    text-decoration: none;
    color: #a4a4a4;
    transition: 150ms ease;
}

.sidebar__navigation__ul__li a svg {
    fill: #a4a4a4;
    stroke: #eee;
    width: 22px;
    height: 22px;
    padding: 4px 8px 0 0;
    transition: 150ms ease;
    vertical-align: -3px;
}

.sidebar__navigation__ul__li a:hover svg, .sidebar__navigation__ul__li a:hover {
    color: #eee;
    fill: #eee;
    stroke: #eee;
}