@import url(https://fonts.googleapis.com/css?family=Lato:400,700&subset=latin-ext,latin);
body {
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  line-height: 1.5;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ########## CSS Grids ########## */

.sidebar {
  grid-area: sidebar;
  background-color: #444;
}

.main {
  grid-area: main;
  background-color: #fafafa;
}

.container {
  display: grid;
  grid-template-columns: 1fr 7fr;
  grid-template-rows: 100vh;
  grid-template-areas: 'sidebar main';
}